<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="DeviceName" value="Xbox Wireless Headset" />
    <add key="WriteLogs" value="true"/>
    <add key="Volume" value="0.001"/>
    <add key="Interval" value="00:03:00"/>
  </appSettings>
</configuration>