<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <appSettings>
        <add key="HardwareIds" value="USB\VID_045E&amp;PID_0B17&amp;IGA_00" />
    </appSettings>
</configuration>